*{
padding: 0;
margin: 0;
}
header{
background-color: #005200;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
body{
background-image: linear-gradient(#005200,#C5EDB7)



}
.cabeçalho-imagem{
     width: 14%;
    }
    .trabalho{
        background-image:white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        
        }
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 20px;
        font-size: 26px;
    }
    .trabalho-div-conteudo{
        width: 90%;
        }
        
        .trabalho-titulo{
         padding: 24px 0;
         font-size: 35px;
         margin: 0 24px; 
        }
        
        .trabalho-texto-um{
         padding: 0; 
         font-size: 28px;
         margin: 0 24px;
       
        }
        
        .trabalho-texto-dois{
            padding: 14px 0; 
            font-size: 28px; 
            margin: 0 24px;
            
           }
           .trabalho-imagem{
            width: 120%;
        
        }
        .trabalho{
            padding: 24px 0;
        }
        
        
        .trator-imagem{
            width: 300px;

        }
        
        .trabalho-div{
            height: 29vh;
            grid-template-columns: 50% 50%;
            padding: 2em;
        }
        .trabalho-texto-tres{
            font-weight: 20;
            font-size: 24px;
            color:black



        }
        .botao{
         background-color:black;
         border-radius: 5px;
         padding: 1em;
         color: white;
         display: block;
         text-decoration: none;


        }